/*  ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
 *    █    ▄▀▀▀ ▄▀▀▄ ▐▀▄▀▌█▀▀▄       █    █▀▀▀ █▀▀▀ ▄▀▀▄ ▄▀▀▀ █  █   █    █▀▀▀ ▄▀▀▀ ▄▀▀▀
 *    █  ▄ ▀▀▀█ █▄▄█ █ ▀ ▌█▄▄▀ ▀▀ ▀▀ █  ▄ █▀▀  █ ▀▄ █▄▄█ █    ▀▄▄█   █  ▄ █▀▀  ▀▀▀█ ▀▀▀█
 *    ▀▀▀  ▀▀▀  █  ▀ █   ▀█          ▀▀▀  ▀▀▀▀ ▀▀▀▀ █  ▀  ▀▀▀ ▄▄▄▀ ▀ ▀▀▀  ▀▀▀▀ ▀▀▀  ▀▀▀
 *
 *    See persistent section header comment below (§1) for additional information and license
 *      governing use.
 *  └──────────────────────────────────────────────────────────────────────────────────────────────┘
 *   TABLE OF CONTENTS:
 *   ────────────────────────────────────────────────────────────────────────────────────────────
 *   §1: Persistent comment for documenting stylesheet's unit specific styling section.........24
 *   §2: General styling.......................................................................68
 *   §3: Headings.............................................................................135
 *   §4: Links................................................................................162
 *   §5: Ad boxes.............................................................................197
 *   §6: Gravity Forms........................................................................219
 *   §7: Google Calendars.....................................................................238
 *   §8: Points of Pride......................................................................263
 *   §9: Other styling........................................................................299
 *   ───────────────────────────────────────────────────────────────────────────────────────────────
 */

/*  ================================================================================================
 *  §1: Persistent comment for documenting stylesheet's unit specific styling section
 */

/*! ================================================================================================
 *  █    █▀▀▀ █▀▀▀ ▄▀▀▄ ▄▀▀▀ █  █   █    ▄▀▀▀ ▄▀▀▄ ▐▀▄▀▌█▀▀▄   ▄▀▀▀ █  █ ▄▀▀▀▐▀█▀▌▄▀▀▄ ▐▀▄▀▌
 *  █  ▄ █▀▀  █ ▀▄ █▄▄█ █    ▀▄▄█   █  ▄ ▀▀▀█ █▄▄█ █ ▀ ▌█▄▄▀   █    █  █ ▀▀▀█  █  █  █ █ ▀ ▌
 *  ▀▀▀  ▀▀▀▀ ▀▀▀▀ █  ▀  ▀▀▀ ▄▄▄▀   ▀▀▀  ▀▀▀  █  ▀ █   ▀█       ▀▀▀  ▀▀  ▀▀▀   █   ▀▀  █   ▀
 *
 *    ▄▀▀▀▐▀█▀▌█  █ █    ▀█▀ ▐▀▀▄ █▀▀▀
 *    ▀▀▀█  █  ▀▄▄█ █  ▄  █  █  ▐ █ ▀▄
 *    ▀▀▀   █  ▄▄▄▀ ▀▀▀  ▀▀▀ ▀  ▐ ▀▀▀▀
 *  ================================================================================================
 *  Legacy CSS still in use on the LSAMP website based on code written by staff members of the
 *    Voiland College of Engineering and Architecture (VCEA).
 *
 *  Code in this section was carried over from the old version of the LSAMP website, which was at
 *    https://vcea.wsu.edu/lsamp, before LSAMP was organizationally moved to the Office of the
 *    Provost in academic year 2018-19. This file and is developed and maintained on the GitHub
 *    project at https://github.com/invokeImmediately/lsamp.wsu.edu/.
 *
 *  @version 1.0.0
 *
 *  @author Authorship has been inherited by Daniel Rieck [daniel.rieck@wsu.edu]
 *    (https://github.com/invokeImmediately).
 *  @author Joyce Crosthwaite was the previous website coordinator who maintained this code when
 *    LSAMP was still at VCEA.
 *  @license MIT — Copyright (c) 2021 Washington State University.
 *    Permission is hereby granted, free of charge, to any person obtaining a copy of this software
 *      and associated documentation files (the “Software”), to deal in the Software without
 *      restriction, including without limitation the rights to use, copy, modify, merge, publish,
 *      distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom
 *      the Software is furnished to do so, subject to the following conditions:
 *    The above copyright notice and this permission notice shall be included in all copies or
 *      substantial portions of the Software.
 *    THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING
 *      BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *      NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
 *      DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 *      SOFTWARE.
 *  ================================================================================================
 */

/*  ================================================================================================
 *  §2: General styling
 */

#binder {
	background-color: #ffffff;
	color: #203639;
	box-sizing: border-box;
}

main {
	padding-bottom: 60px;
}

.bottom-padding-none main {
	padding-bottom: 0;
}

.main-header {
	background: none;
	height: auto;
	width: auto;
	text-align: right;
	z-index: 100;
}

.main-header .header-group {
	padding: 10px 0;
	position: relative;
	max-width: 100%;
}

.main-header .sup-header {
	color: #203639;
	letter-spacing: 2px;
	margin-right: 20px;
}

.main-header .sub-header span {
	color: #ffffff;
	background-color: #203639;
	display: inline-block;
	font-weight: 300;
	margin: 10px 0;
	padding: .2em 20px;
}

@media only screen and (max-width: 693px) {
	.main-header {
		text-align: left;
	}

	.main-header .sup-header {
		margin-left: 20px;
		margin-right: 0;
	}

	.main-header .sup-header span {
		line-height: 1.5em;
	}

	.featured-image {
		height: 200px;
		margin-top: -1.2em;
	}
}

/*  ================================================================================================
 *  §3: Headings
 */

// h1 {
// 	font-weight: 300;
// 	padding: 1.5em 0 .5em;
// }

// h2 {
// 	font-weight: 300;
// 	color: #981e32;
// 	padding-bottom: .3em;
// }

// h3 {
// 	color: #981e32;
// 	font-weight: 600;
// 	font-size: 1.1em;
// }

// @media only screen and (max-width: 693px) {
// 	h2 {
// 		font-weight: 400;
// 	}
// }

/*  ================================================================================================
 *  §4: Links
 */

a.crimson-button, a.crimson-button:visited {
	display: inline-block;
	margin: .5em 0;
	color: #ffffff !important;
	background-color: #981e32;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	padding: .5em 1.5em;
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	transition: background-color .3s linear;
	text-decoration: none;
}

a.crimson-button:hover {
	background-color: #feb81c;
	color: #203639 !important;
}

.spine-offsitenav a:after {
	font-family: Spine-Icons;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	margin-left: 3px;
	content: "\21AA";
}

/*  ================================================================================================
 *  §5: Ad boxes
 */

.ad-box {
	border: 1px solid #981e32;
	padding: 1em 1em .5em;
	margin: 0;
	background-color: #f9f4e7;
}

.ad-box h2 {
	font-size: 1.4em;
	font-weight: 600;
}

@media only screen and (max-width: 693px) {
	.ad-box {
		margin-top: 1em;
	}
}

/*  ================================================================================================
 *  §6: Gravity Forms
 */

.gform_wrapper div.charleft {
	color: #981e32;
	font-size: .813em;
}

.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	opacity: 1;
}

.gform_wrapper h4, .gform_wrapper h3 {
	font-weight: 600;
	font-size: 1.25em;
	color: #981e32;
}

/*  ================================================================================================
 *  §7: Google Calendars
 */

.responsiveCal {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}

.responsiveCal iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 693px) {
	.responsiveCal {
		padding-bottom: 100%;
	}
}

/*  ================================================================================================
 *  §8: Points of Pride
 */

img.number {
	margin-top: -2.5em;
	margin-bottom: -1em;
}

p.number {
	color: #981e32;
	font-weight: 600;
	font-size: 3em;
	padding-bottom: 0;
	line-height: 1.2em;
}

span.subnumber {
	font-size: 1rem;
	color: #203639;
	font-weight: 400;
	display: block;
	line-height: 1.5em;
}

div.circle {
	border: 3px dotted;
	height: 175px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 175px;
	padding: 1.2em;
	margin-top: 2em;
}

/*  ================================================================================================
 *  §9: Other styling
 */

.float-right {
	margin: 0 0 1em 1em;
	float: right;
	max-width: 70%;
	color: #717171;
	line-height: 1.25;
}

@media only screen and (max-width: 693px) {
	.float-right {
		margin: 1em 0;
		float: none;
		width: 100%;
		max-width: 100%;
	}
}

.page-id-901 main section.side-left:nth-of-type(odd) {
	background-color: #f9f4e7;
}

.tablepress-id-4 .column-1, .tablepress-id-4 .column-2, .tablepress-id-4 .column-3, .tablepress-id-4 .column-4 {
	width: 25%;
}

.postcard-wide {
	padding-left: 4rem;
	padding-right: 4rem;
}
